<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbeBQgVWEnL0BzcEdRkrJ5P1Aaqag1DKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1037534072794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wakeupFront</string>
	<key>PROJECT_ID</key>
	<string>wakeup-74d89</string>
	<key>STORAGE_BUCKET</key>
	<string>wakeup-74d89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037534072794:ios:cc3ebe72f5fe9e0444bae3</string>
</dict>
</plist>